@using X.PagedList
@model IPagedList<Cookbook.Models.Recipe>
@using X.PagedList.Mvc.Core;
<link rel="stylesheet" href="~/css/indexStyle.css" />
@{
    ViewData["Title"] = "My Recipes";
}

<h1>My Recipes</h1>
<div>
    <a asp-action="Create" class="btn btn-success">Create New Recipe</a>
</div>
<div class="recipes-grid">
    @foreach (var item in Model)
    {
        var averageRating = item.Ratings.Any() ? item.Ratings.Average(r => r.Score) : 0;
        <div class="recipe-tile">
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="recipe-image-container">
                    <img src="@item.ImageUrl" alt="@item.Title" class="recipe-image">
                </div>
                <h3>@item.Title</h3>
                <p>@item.Description</p>
                <p class="rating">
                    @if (averageRating == 0)
                    {
                    <p>Rating: None</p>
                    }
                    else
                    {
                    <p>Rating: @averageRating.ToString("0.0")</p>
                    }
                </p>
            </a>
            <div class="recipe-actions">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("MyRecipes", new { page }))
</div>


